<!DOCTYPE html>
<html class="no-js" lang="zxx">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="x-ua-compatible" content="ie=edge" />
		<title>Assignments - BonaCoder</title>
		<meta name="description" content="" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="shortcut icon" type="image/x-icon" href="/img/logo/loder.png" />

		<!-- CSS here -->
		<link rel="stylesheet" href="/css/bootstrap.min.css" />
		<link rel="stylesheet" href="/css/owl.carousel.min.css" />
		<link rel="stylesheet" href="/css/slicknav.css" />
		<link rel="stylesheet" href="/css/animate.min.css" />
		<link rel="stylesheet" href="/css/hamburgers.min.css" />
		<link rel="stylesheet" href="/css/magnific-popup.css" />
		<link rel="stylesheet" href="/css/fontawesome-all.min.css" />
		<link rel="stylesheet" href="/css/themify-icons.css" />
		<link rel="stylesheet" href="/css/themify-icons.css" />
		<link rel="stylesheet" href="/css/slick.css" />
		<link rel="stylesheet" href="/css/nice-select.css" />
		<link rel="stylesheet" href="/css/style.css" />
		<link rel="stylesheet" href="/css/responsive.css" />
		<style>
			.submit-assignments {
				position: absolute;
				padding: 12px 42px;
				background-color: #331391;
				color: #fff;
				border: none;
				outline: none;
				border-radius: 3px;
			}
		</style>
	</head>
	<body>
		<%- include('./../public/layouts/header') %>

		<main>
			<!--? slider Area Start-->
			<section class="slider-area slider-area2">
				<div class="slider-active">
					<!-- Single Slider -->
					<div class="single-slider slider-height2">
						<div class="container">
							<div class="row justify-content-center">
								<div class="col-xl-8 col-lg-11 col-md-12">
									<div class="hero__caption hero__caption2 text-center">
										<h1 data-animation="bounceIn" data-delay="0.2s">
											Improve Your Coding Skills
										</h1>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!--? Blog Area Start-->
			<!-- <section class="blog_area section-padding"> -->
			<div class="container">
				<div class="row">
					<div class="col-lg-12 mb-5 mb-lg-0">
						<div class="blog_left_sidebar">
							<% challengesQues.forEach(question => { %>
							<article class="blog_item">
								<a
									style="display: block"
									class="assignments-question"
									href="problem/<%=question.id%>"
								>
									<div class="blog_details">
										<strong><h3><%= question.title %></h3></strong>
										<h2 class="blog-head" style="color: #2d2d2d">
											<p><%= question.desc %></p>
										</h2>
										<button class="submit-assignments">Solve Challenge</button>
									  	<% foundAnswer.forEach(answer => { %>
										<% if (answer.question_id == question.id) { %>
										
										<ul class="blog-info-link" style="position: relative;">
											
											<a href="#" style="position: absolute;right: 0;bottom: 10px;"><i class="fas fa-check fa-2x"></i> </a>
											<%} else {%>
											
											
											<% } %>
											<% }); %>											
										
									</div>
								</a>
							</article>
							<% }); %>

							<!-- <nav class="blog-pagination justify-content-center d-flex">
								<ul class="pagination">
									<li class="page-item">
										<a href="#" class="page-link" aria-label="Previous">
											<i class="ti-angle-left"></i>
										</a>
									</li>
									<li class="page-item">
										<a href="#" class="page-link">1</a>
									</li>
									<li class="page-item active">
										<a href="#" class="page-link">2</a>
									</li>
									<li class="page-item">
										<a href="#" class="page-link" aria-label="Next">
											<i class="ti-angle-right"></i>
										</a>
									</li>
								</ul>
							</nav> -->
						</div>
					</div>
				</div>
			</div>
			<div class="pb-5"></div>
			<!-- Blog Area End -->
			<!--? Want To work 01-->
			<section class="wantToWork-area">
				<div class="container">
					<div
						class="wants-wrapper w-padding2 section-bg2"
						data-background="/img/gallery/section_bg02.png"
					>
						<div class="row align-items-center justify-content-center">
							<div class="col-xl-7 col-lg-9 col-md-8">
								<div class="wantToWork-caption text-center">
									<h2>Start your journey today!</h2>
									<p>
										Be ready to elevate your career and programming skills with
										us, all for FREE
									</p>
									<a href="assignments" class="btn3 wantToWork-btn"
										>Browse Problems</a
									>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- Want To work End -->
		</main>

		<%- include('./../public/layouts/footer') %>

		<!-- JS here -->

		<script src="./js/vendor/modernizr-3.5.0.min.js"></script>
		<!-- Jquery, Popper, Bootstrap -->
		<script src="./js/vendor/jquery-1.12.4.min.js"></script>
		<script src="./js/popper.min.js"></script>
		<script src="./js/bootstrap.min.js"></script>
		<!-- Jquery Mobile Menu -->
		<script src="./js/jquery.slicknav.min.js"></script>

		<!-- Jquery Slick , Owl-Carousel Plugins -->
		<script src="./js/owl.carousel.min.js"></script>
		<script src="./js/slick.min.js"></script>
		<!-- One Page, Animated-HeadLin -->
		<script src="./js/wow.min.js"></script>
		<script src="./js/animated.headline.js"></script>
		<script src="./js/jquery.magnific-popup.js"></script>

		<!-- Date Picker -->
		<script src="./js/gijgo.min.js"></script>
		<!-- Nice-select, sticky -->
		<script src="./js/jquery.nice-select.min.js"></script>
		<script src="./js/jquery.sticky.js"></script>

		<!-- counter , waypoint,Hover Direction -->
		<script src="./js/jquery.counterup.min.js"></script>
		<script src="./js/waypoints.min.js"></script>
		<script src="./js/jquery.countdown.min.js"></script>
		<script src="./js/hover-direction-snake.min.js"></script>

		<!-- contact js -->
		<script src="./js/contact.js"></script>
		<script src="./js/jquery.form.js"></script>
		<script src="./js/jquery.validate.min.js"></script>
		<script src="./js/mail-script.js"></script>
		<script src="./js/jquery.ajaxchimp.min.js"></script>

		<!-- Jquery Plugins, main Jquery -->
		<script src="./js/plugins.js"></script>
		<script src="./js/main.js"></script>
	</body>
</html>
